@model crud.web.Models.Student

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<form method="post">
    <div class="mt-3">
        <label class="form-label">Id</label>
        <input class="form-control" asp-for="Id" readonly />
    </div>
    <div class="mt-3">
        <label class="form-label">name</label>
        <input class="form-control" asp-for="Name" type="tex"  />
    </div>
    <div class="mt-3">
        <label class="form-label">Email</label>
        <input class="form-control" asp-for="Email"  />
    </div>
    <div class="mt-3">
        <input type="checkbox" class="form-check-input" asp-for="Subscribed" id="subscribed" />
        <label class="form-label" for="subscribed">subscribed</label>
    </div>

    <div class="mt-3">
        <button type="submit" class="btn btn-success">Save</button>
        <button type="submit" class="btn btn-danger" asp-controller="Student" asp-action="Delete">Delete</button>
    </div>


</form>